.container {
  height: auto;
  width: 100%;
  padding: 5rem 0;
  background: url("./images/bg-top.svg") no-repeat 12rem -20px;
}

.container .card-container {
  flex-direction: column;
  width: 100%;
  padding: 2rem;
}

.container .card-container .card {
  margin: 1rem auto;
  width: 100%;
  border-radius: 10px !important;
}

.container .card-container .card .price {
  font-size: 2.2rem;
}

.container .card-container .card .price .price-w {
  font-size: 4rem;
}

.container .card-container .card,
.container .card-container .card:nth-child(2) {
  padding: 2rem 2rem;
}
