@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");

:root {
  --very-light-grayish-blue: hsl(236, 72%, 79%);
  --light-grayish-blue: hsl(234, 14%, 74%);
  --grayish-blue: hsl(233, 13%, 49%);
  --dark-grayish-blue: hsl(232, 13%, 33%);
  --primary-color: hsl(237, 63%, 64%);

  --linear-gradient: linear-gradient(
    to bottom right,
    hsl(236, 72%, 79%),
    hsl(237, 63%, 64%)
  );

  font-size: 15px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f7f7ff;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  text-align: center;
}

h1 {
  color: #667;
  margin-bottom: 2rem;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url("./images/bg-top.svg") no-repeat top right,
    url("./images/bg-bottom.svg") no-repeat bottom left;
}

.container .switch-container {
  display: flex;
  align-items: center;
}

.container .switch-container .label {
  color: #aab;
  font-size: 0.9rem;
  font-weight: 700;
}

.container .switch-container .switch {
  width: 3rem;
  height: 1.8rem;
  margin: auto 1.5rem;
  border-radius: 0.9rem;
  background: var(--linear-gradient);
  position: relative;
  cursor: pointer;
}

.container .switch-container .switch:hover {
  opacity: 0.6;
}

.container .switch-container .switch #toggler {
  height: 1.3rem;
  width: 1.3rem;
  margin: 0.25rem;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  transform: translateX(90%);
  transition: transform 0.1s ease;
}

.container .card-container {
  display: flex;
  align-items: center;
  margin-top: 3rem;
  width: 62rem;
  border-radius: 10px;
}

.container .card-container .card {
  color: #445;
  background-color: #fff;
  flex-grow: 1;
  font-weight: 600;
  padding: 2rem;
  font-size: 1rem;
}

.container .card-container .card {
  box-shadow: 0 0 15px #e1e1ea;
  width: 280px;
}

.container .card-container .card:first-child {
  border-radius: 10px 0 0 10px;
}

.container .card-container .card:last-child {
  border-radius: 0 10px 10px 0;
}

.container .card-container .card:nth-child(2) {
  padding: 3.5rem 2rem;
  z-index: 1;
  border-radius: 10px;
  background: var(--linear-gradient);
  color: #fff;
}

.container .card-container .card h2 {
  font-size: 1.1rem;
}

.container .card-container .card p {
  padding: 1.2rem 0;
  border-bottom: 1px solid rgba(201, 201, 210, 0.431);
}

.container .card-container .card .price {
  font-size: 2rem;
  padding: 1.5rem 0;
}

.container .card-container .card .price .price-w {
  vertical-align: sub;
  font-size: 3.5rem;
}

.container .card-container .card button {
  border-color: #0000;
  background: var(--linear-gradient);
  width: 100%;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1.5px;
  padding: 0.8rem;
  border-radius: 5px;
  color: #fff;
  margin-top: 1.7rem;
  cursor: pointer;
}

.container .card-container .card button:hover {
  background: transparent;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.container .card-container .card:nth-child(2) button {
  background: #fff;
  color: var(--primary-color);
}

.container .card-container .card:nth-child(2) button:hover {
  color: #fff;
  border-color: #fff;
  background: transparent;
}
